html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.blue-feel {
  background-color: rgb(6, 25, 81);
}

nav .brand-logo {
  font-size: 1.5rem;
}

.center {
  display: block;
  margin: auto;
  width: 50%;
}

.card.large {
  height: 750px;
}

.team-info .team-logo {
  transition: transform 0.2s; /* Animation */
}

.team-info:hover .team-logo {
  transform: scale(1.4);
}

.card-content.stats {
  padding: 8px;
}
