html,
body {
  width: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}

.blue-feel {
  background-color: rgb(6, 25, 81);
}

nav .brand-logo {
  font-size: 1.2rem;
}

.center {
  margin: auto;
  width: 50%;
  padding: 10;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgb(150, 150, 150);
}

.card.large {
  height: 750px;
}

.team-info .team-logo {
  transition: transform 0.2s; /* Animation */
}

.team-info:hover .team-logo {
  transform: scale(1.4);
}

.card-content.stats {
  padding: 8px;
}

.top-space {
  margin-top: 1.5em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 12px;
  font-family: "Anton", sans-serif;
}

.details {
  font-size: 0.8em;
}

.team-preview {
  height: 100px;
  width: 100px;
  padding: 0.2em;
  transform: translate(0, -250px);
  border-radius: 50%;
  background-color: white;
}

@media only screen and (max-width: 600px) {
  .team-preview {
    transform: translate(0, -250px);
  }
}

@media only screen and (min-width: 800px) {
  .team-preview {
    transform: translate(0, -250px);
  }
}

.team-name {
  font-weight: 500;
}
